@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Code+Pro:500|Yanone+Kaffeesatz&subset=latin-ext');

$mono: 'Source Code Pro', monospace;
$pt: 'PT Sans', sans-serif;
$kaffee: 'Yanone Kaffeesatz', sans-serif;
