.info
  width: 100%
  height: auto
  background-color: $info-back
  position: relative
  z-index: 3
  display: flex
  flex-direction: column
  justify-content: space-between
  transition: all 1s ease-in-out

  +min-screen(700px)
    height: 40px

.info-open
  background-color: $info-back-hover

.info-wrapper
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

  +min-screen(700px)
    flex-direction: row
    height: 40px

.info-email
  margin: 8px 0 8px 10px
  font-family: $body
  font-weight: 400
  color: $info-text-light
  font-size: 15px
  letter-spacing: .04em
  width: auto
  align-self: flex-start
  cursor: pointer
  transition: color 1s ease
  cursor: pointer

  +min-screen(700px)
    margin: 0 10px 0 5%
    font-size: 17px
    align-self: center

.info-nav
  margin: 5px 20px 5px 0
  width: auto
  display: flex
  flex-direction: row
  justify-content: flex-end
  align-self: center
  margin-left: auto

  +min-screen(700px)
    margin: 0 5% 0 0

  a
    text-decoration: none
    color: $info-text-light
    font-family: $body
    font-weight: 500
    text-transform: uppercase
    font-size: 14px
    letter-spacing: 0.08em
    position: relative
    z-index: 100
    transition: all 1s ease-in-out
    top: 0
    cursor: pointer

    +min-screen(450px)
      font-size: 16px

  span
    color: $info-text-light

.info-nav-cv-open
  top: 40px !important

.info-nav-bio-open
  top: 40px !important

.info-nav-statement-open
  top: 40px !important
